@import "../../assets/mixins.scss";
@import "../../assets/variables.scss";

.input {
  border-radius: 2px;
  padding: 12px 14px;
  font-size: inherit;
  width: 100%;
  outline: none;
  border: 1px solid transparent;
  font-weight: 500;

  &::placeholder {
    color: $grey-800;
  }
  @include default-transition(all);

  background: $grey-200;
  &:focus {
    background: white;
    border-color: $grey-400;
  }

  &_error {
    color: $danger-color;
    background: rgba($danger-color, .1);
    &::placeholder {
      color: $danger-color;
    }
    &:focus {
      border-color: rgba($danger-color, .4);
      background: rgba($danger-color, .1);
      box-shadow: none;
    }
  }
}