@import "../../assets/variables.scss";

.select {
  width: 100%;
}

.select__field {
  position: relative;
}

.select__arrow {
  position: absolute;
  right: 0px;
  width: 24px;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;

  img {
    max-width: 100%;
  }
}

.select__input {
  appearance: none;

  option {
    background: #fff;
    color: #000;
  }

  &_empty_value {
    color: $grey-800;
  }
}

.input__field_error.select__input_empty_value {
  color: $danger-color;
}